body {
   background      : #DBF9CF;
   }

h1{
   text-align      : center;
   font-family     : Verdana;
   font-size       : 120%;
   margin          : 2.5ex;
   }

table.sortable {
   border-collapse : collapse;
   font-family     : Verdana;
   }

table.sortable caption {
   caption-side    : bottom;
   text-align      : center;
   text-decoration : underline;
   }

table.sortable th {
   color           : #FFF;
   background      : #333;
   }

table.sortable thead th:hover {
   background      : #AAA;
   }

table.sortable thead th.sorttable_nosort:hover {
   background      : #333;
   }

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
   content         : "\00A0\21C5" 
   }

th.klask-header-left {
   border-top-left-radius     : 1ex;
   }

th.klask-header-right {
   border-top-right-radius    : 1ex;
   }

th.klask-footer-left {
   border-bottom-left-radius  : 1ex;
   }

th.klask-footer-right {
   border-bottom-right-radius : 1ex;
   }

table.sortable td {
   border          : 1px solid #AAA;
   border-top      : 1px solid #AAA;
   border-bottom   : 1px solid #AAA;
   border-left     : 1px solid #AAA;
   border-right    : 1px solid #AAA;
   }

tr.odd td {
   background      : #DBF9CF;
   border-collapse : collapse;
   font-family     : Courier;
   padding-left    : 0.5ex;
   padding-right   : 0.5ex;
   }

tr.even td {
   background      : #FFF;
   border-collapse : collapse;
   font-family     : Courier;
   padding-left    : 0.5ex;
   padding-right   : 0.5ex;
   }

td.bklask-port {
   text-align      : right;
   }

td.bklask-arrow {
   text-align      : left;
   text-indent     : -5.5ex;
   padding-left    : 6.5ex !important;
   }

a.circle {
   padding         : 2ex;
   border-radius   : 50%;
   color           : #FFF;
   text-align      : center;
   background      : #333;
   }

a.circle {
   text-decoration : none;
   }

a:hover.circle {
   background      : #AAA;
   }

p.copyright {
   text-align      : right;
   margin-right    : 10ex;
   }

#navbar ul {
   list-style      : none;
   padding         : 0;
   margin          : 0;
   }

#navbar li {
   float           : left;
   margin          : 0;
   border          : 1px solid #BBB;
   border-bottom-width     : 0;
   border-top-left-radius  : 1.5ex;
   border-top-right-radius : 1.5ex;
   background      : #333;
   }

#navbar li:hover {
   background      : #AAA;
   }

#navbar a {
   text-decoration : none;
   font-family     : Verdana;
   font-size       : 110%;
   display         : block;
   padding         : 0.8ex 2.5ex;
   color           : #FFF;
   width           : 20ex;
   text-align      : center;
   border-top-left-radius  : 1.5ex;
   border-top-right-radius : 1.5ex;
   }

#navbar #selected {
   border-color    : #333;
   background      : white;
   }

#navbar #selected a {
   position        : relative;
   top             : 1px;
   background      : white;
   color           : black;
   font-weight     : bold;
   }

#content {
   border          : 1px solid #333;
   clear           : both;
   padding-left    : 0.5ex;
   padding-right   : 0.5ex;
   padding-top     : 0ex;
   padding-bottom  : 1.5ex;
   background      : white;
   }
